*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    padding-left: 0.5rem;
    text-align: right;
    background-color: cadetblue;
    margin: 0;

}

li{
    display: inline-block;
    margin-inline: 0.5rem;
}

li a{
    color: white;
    text-decoration: none;
}

li a:hover{
    color: rgb(25, 0, 255);
    text-decoration: dotted;
}

li a:visited{
    color: darkmagenta;
    text-decoration: line-through;
}